@charset "UTF-8";

/*
Em HTML é id = em CSS é #
em HTML é class = CSS é .
*/

body{
    background-color: rgb(127, 218, 127);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
   color: rgb(18, 116, 9);
   
}

h1#principal {
    text-align: center;
}

h2 {
    color: rgb(19, 129, 5);
}

.basico {
color: darkred;
}

.intermediario {
color: blue;
}

.avancado {
color: forestgreen;
}

.destaque {
background-color: rgb(100, 221, 96);
}