@charset "UTF-8";


:root {
    --fonte1: Verdana, Geneva,Tahoma,sans-serif
}



* {
    margin: 0px;
    padding: 0px;
}

html,body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4vw;
}

header > p {
    padding-bottom: 50px;
}

 header > a footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

 header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.623);
    color: white;

}

section.imagem > p {
    width: 400px; 
    background-color: rgba(0, 0, 0, 0.548);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}