@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%; */
}

body {
    background-image: linear-gradient(to right,#0897B4,#4CABA6);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #187571ad;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
color: rgb(233, 173, 45);
text-align: center;
text-shadow: 1px 1px 2px rgb(122, 103, 103);
}

h2{
color: rgb(100, 94, 185);
}

p { 
    text-align: justify;
}